.form{
 color: rgb(0,0,0);
}
.body{
    border-radius: 50px;
    width:80%;
    font-family: Arial, Helvetica, sans-serif;
}
.abc{
    background-image: linear-gradient(red,green,yellow);
}
.xyz{
    background-color: bisque;
    width: auto;
}
.rrr{
    background-color: rgb(62, 62, 141);
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px brown solid;  
}
.ttt{
    background-color: aquamarine;
}
